@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Raleway:wght@700&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg1:linear-gradient(45deg, #ee6352,hsl(66, 91%, 53%), orange,#ee6352, #ffdb87,#ffdb87);
    --bg2: white;
    --clr1: white;
    --clr2: black;
    --clr3: #444;
    --gradient1: linear-gradient(45deg, #ee6352,hsl(66, 91%, 53%), orange,#ee6352, #ffdb87,#ffdb87);
    --gradient2: linear-gradient(45deg, #ee6352, #07FEC1, #F8BF35, #67E389, #07FEC1);
    --gradient3: linear-gradient(45deg, #FFB631,#FEC88E, #F97077,#FEAF6A, #FFB532,#88D1EE);
    --gradient4: linear-gradient(#FE2B56, #88D1EE);
}

html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    height: 100vh;
    scroll-behavior:smooth;
}

body::-webkit-scrollbar {
    display: none;
}

header  {
    position: fixed;
    width: 100%;
    height: 42px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter:blur(50px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 9999;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header li {
    display: inline;
}

header #ul0 li a {
    text-decoration: none;
    color: var(--clr1);
    padding: 10px;
    font-size: 20px;
    transition: .4s;
}

header #ul0 {
    padding-block: 10px;
    transition: .4s;
}

header a:hover {
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter:blur(50px);
    box-shadow: 0 2px 10px 5px pink;
    color: pink;
}

#ul0:hover {
    background-color: orange;
    box-shadow: 0 2px 2px 2px white;
}

#img1 {
    position: relative; top: 3px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    animation: bg-animation1 20s infinite;
}

.bgcolor1 {
    background: linear-gradient(45deg, #ee6352, hsl(66, 91%, 53%), orange, #ee6352, #ffdb87, #ffdb87);
}

.bgcolor2 {
    background-color: #ffc800;
}

@keyframes bg-animation1 {
    0% {background-position: left}
    20% {background-position: right}
    40% {background-position: center}
    60% {background-position: left}
    80% {background-position: center}
    100% {background-position: left}
}
  
#section1 h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 120px;
    text-shadow: 5px 0px 0px black;
    transition: .8s;
}

mark {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    color: white;
    transition: .8s;
    width: fit-content;
    height: fit-content;
}

mark:hover {
    background-color: white;
    color: black;

}

#section2  {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    animation: bg-animation2 20s infinite;
}

.bgcolor11 {
    background: linear-gradient(45deg, #ee6352, #07FEC1, #F8BF35, #67E389, #07FEC1);
}

.bgcolor22 {
    background-color: #1fe5ff;
}

@keyframes bg-animation2 {
    0% {background-position: left}
    20% {background-position: right}
    40% {background-position: center}
    60% {background-position: left}
    80% {background-position: center}
    100% {background-position: left}
}

#section2 #div2  {
    position: relative;top: -30px;
    font-size: 120px;
    text-align: center;
}

#section2 #div2 h2 {
    position: relative;top: -100px;
    font-size: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#section2 #div2 h3 {
    font-size: 80px;
    position: relative;top: 100px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

#section3 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: 300% 300%;
    animation: bg-animation2 20s infinite;
}

.bgcolor111 {
    background: linear-gradient(45deg, #FFB631,#FEC88E, #F97077,#FEAF6A, #FFB532,#88D1EE);

}

.bgcolor222 {
    background-color: #0a9e9e;
}

#section3 #div3 {
    position: relative;top: -30px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(10px);
}

#section3 #ul1  {
    padding-inline: 20px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#section3 #div3 li  {
    list-style-type: none;
    line-height: 70px;
}

#section3 #div3 a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: .4s;
    width: fit-content;
}

#section3 #div3  a:hover {
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    color: #222;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(10px);
}

#section4 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: 300% 300%;
    animation: bg-animation2 20s ease  infinite;
}

.bgcolor1111 {
    background: linear-gradient(45deg, #f32bfe,rgb(140, 255, 0), #0088be, #f32bfe );

}

.bgcolor2222 {
    background-color: #32c579;
}

#section4 #div4 {
    position: relative;top: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(10px);
}

#section4 #ul2  {
    position: relative; top: -20px;
    padding-inline: 20px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#section4 #div4 li  {
    list-style-type: none;
    line-height: 70px;
}

#section4 #div4 a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: .4s;
}

#section4 #div4  a:hover {
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    color: #222;
}

#section5 {
    color: hsl(10, 20%, 100%);
    font-family: 'Times New Roman', Times, serif;
    align-items: end; 
    display: grid;
    background-size: 300% 300%;
    animation: bg-animation2 20s infinite;
}

.bgcolor11111 {
    background: linear-gradient(45deg, #5b69ff, rgb(0, 229, 255), rgb(255, 213, 0), #5b69ff);

}

.bgcolor22222 {
    background-color: #5b69ff;
}

#section5 ul {
    list-style-type: none;
}

#section5 #div5 {
    position: relative;top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

#div5 mark {
    color: black;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    padding-inline: 5px;
    border-radius: 0px;
    font-size: 30px
}

.par1  {
    position: relative; top: -120px;
    font-size: 60px;
    text-align: center;
}

#section5 #div7  {
    width: 100%;
    height: 80px;
    backdrop-filter:blur(50px);
    -webkit-backdrop-filter:blur(50px);    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .4s;
}

#div10 {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width:90%;
    height: 1px;
    position: relative; top: -10px;
    animation: borderanimation 7s ease infinite;
    margin-inline: 5%;
}

@keyframes borderanimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#section5 #div7 a {
    transition: .4s;
}

#section5 #div7 a:hover  {
    transform: translate(0%, -70%);
}

#section5 #div8 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 15px;
}

#section5 footer #div7 ul  {
    text-align: start;
}
 
#section5 footer #div7 ul a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Roboto, -apple-system, sans-serif;
    letter-spacing: 2px;
    transition: .4s;
}
 
#section5 footer #div7 ul a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}


.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translate(-50%);
}

.show {
    opacity: 1;
    filter: none;
    transform: translate(0%);
}

#div6 {
    display: flex;
    justify-content: center
}

form {
    padding: 20px;
    border-radius: 5px;
    border: 1px double rgba(255, 255, 255, 0.3);
    position: relative; top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .5s;
}

form:hover {
    background-color: #4049a4;
    transform: scale(1.1);
    border: 1px solid rgba(0, 0, 0, .1)
}

#name {
    width: 200px;
    color: white;
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 9px;
    background-color: #5b69ff;
    transition: .2s linear;
}

#name:focus {
    color: #5b69ff;
    background-color: white;
    outline: none;
}

#name::placeholder {
    color: white;
}

#name::placeholder    {
    color: white;
}

#email {
    width: 200px;
    color: white;
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 9px;
    background-color: #5b69ff;
    transition: .2s linear;
}

#email:focus {
    color: #5b69ff;
    background-color: white;
    outline: none;
}

#email::placeholder {
    color: white;
}

#email:focus #email::placeholder {
    color: #5b69ff;
}

#message {
    width: 200px;
    color: white;
    position: relative;
    border-radius: 20px;
    border: none;
    padding: 5px;
    padding-left: 9px;
    background-color: #5b69ff;
    transition: .2s linear;
}

#message:focus {
    color: #5b69ff;
    background-color: white;
    outline: none;
}

#message::placeholder {
    color: white;
}

#message:focus #message::placeholder {
    color: #5b69ff;
}

#submit {
    width: 80px;
    height: fit-content;
    color: #2430bc;
    font-weight: 600;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 15px;
    border: solid 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

#submit:hover {
    background-color: #5b69ff;
    color: white;
    transform: scale(1.2);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@scroll-timeline element-move {
    source:auto;
    orientation: :vertical;
    scroll-offsets: selector(#myElement) start 0, selector(#myElement) end 0;
}

@media (max-width:850px) {
  
    body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    }
      
    .div5 .par1 {
        position: relative; top: -80px;
        font-size: 45px;
        font-family: monospace, sans-serif;
        text-align: center;
    }

}

@media (max-width:650px) {
    
    #section h1 {
        font-size: 100px;
    }
    
    .div5 .par1 {
        position: relative; top: -80px;
        font-size: 35px;
        font-family: monospace, sans-serif;
        text-align: center;
    }

}

@media (max-width:680px) {
    #section2 #div2 #h2 {
        font-size: 80px;
    }

    #section2 #div2 #h3 {
        font-size: 60px;
    }

}

@media (max-width:550px) {
    
    header nav #ul0 #Home #Home1 {
        display: none;
    }

    #section1 #div1 .hidden {
        font-size: 80px;
    }

    #section2 #div2 #h2 {
        font-size: 70px;
        position: relative; top: -70px;
    }

    #section2 #div2 h3 {
        font-size: 40px;
    }
 
    .div5 .par1 {
        position: relative; top: -80px;
        font-size: 25px;
        font-family: monospace, sans-serif;
        text-align: center;
    }

}

@media (max-width:450px) {
    
    header {
        height: 30px;
    }

    header nav #ul0:hover {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
    }

    header nav #ul0 a {
        font-size: 18px;
        padding: 2px;
        margin-right: 10px;
    }

    li:hover {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
    }

    a:hover {
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        box-shadow: none;
    }

    #img1 {
        width: 100px;
        position: relative;top: 3px;
    }

    #section1 #div1 #h1  {
        font-size: 70px;
    }

    #section2 #div2 #h2  {
        font-size: 45px;
        position: relative; top: -40px;
    }

    header nav #ul0 #Home #Home1 {
        display: none;
    }

    #section2 #div2 #h3 {
        font-size: 37px;
    }

    .div5 .par1 {
        position: relative; top: -100px;
        font-size: 20px;
        font-family: monospace, sans-serif;
        text-align: center;
    }

}

@media (max-width:400px) {
        header nav #ul0 #Pinterest {
        display: none;
    }
}

.toggleWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 0 200px;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    color: white;
  }
  
  .toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #83d8ff;
    border-radius: 84px;
    -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .toggle:before {
    content: 'AM';
    position: absolute;
    left: -30px;
    top: 8px;
    font-size: 15px;
  }
  
  .toggle:after {
    content: 'PM';
    position: absolute;
    right: -30px;
    top: 8px;
    font-size: 15px;
    color: #749ed7;
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -9px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: #ffcf96;
    border-radius: 50px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
            box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            font-size: 0px;
  }
  
  .toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  .toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
  }
  
  .toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  
  .toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
  
  .star {
    position: absolute;
    background-color: #fff;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  .star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 1px;
    height: 1px;
  }
  
  .star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 10px;
    height: 1px;
  }
  
  .star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 1px;
    height: 1px;
  }
  
  .star--4, .star--5, .star--6 {
    opacity: 0;
    -webkit-transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  .star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  .star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
  
  input:checked + .toggle {
    background-color: #749dd6;
  }
  
  input:checked + .toggle:before {
    color: #749ed7;
  }
  
  input:checked + .toggle:after {
    color: #fff;
  }
  
  input:checked + .toggle .toggle__handler {
    background-color: #ffe5b5;
    -webkit-transform: translate3d(20px, 0, 0) rotate(0);
            transform: translate3d(20px, 0, 0) rotate(0);
  }
  
  input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
  }
  
  input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
  }
  
  input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }
  
  input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    -webkit-transform: translate3d(-7px, 0, 0);
            transform: translate3d(-7px, 0, 0);
  }
  
  input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  input:checked + .toggle .star--4 {
    -webkit-transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--5 {
    -webkit-transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  input:checked + .toggle .star--6 {
    -webkit-transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
   